@use "./src/styles/variables" as *;
@use "./src/styles/functions" as *;
@use "./src/styles/mixins" as *;

.containerMain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.card {
  letter-spacing: 1px;
  padding: 2rem;

  background-color: $color_bg_2;
  border-radius: $border_r;

  @include flex_col;
  align-items: flex-start;
  gap: 1.5rem;

  @media (max-width: 768px) {
    padding: 1rem;
  }
}

.wrapperIcon {
  padding: 1.25rem;

  background-color: $color_purple_25;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.containerText {
  font-size: fluid-size(16, 22);
  text-indent: 24px;
  line-height: 28px;

  @include flex_col;
  gap: 12px;

  a {
    color: $color_purple;
  }
}

.title {
  font-size: fluid-size(16, 22);
}

.text {
  font-size: fluid-size(16, 18);
}

.link {
  color: $color_purple;

  &:hover {
    border-bottom: 1px solid #6366f1;
  }
}
