@mixin bg_params {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin flex_col {
  display: flex;
  flex-direction: column;
}

@mixin flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin modal_window {
  width: 100%;
  height: 100vh;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  z-index: 1000;
}

