
$screen_w_max: 1440px;


$color_bg_main: #141414;
$color_bg_main2: #171717;
$color_bg_secondary: #06060e;
$color_bg_secondary_85: rgba(6, 6, 14, 0.85);
$color_bg_third: #06081E7F;
$color_bg_1: #222222;
$color_bg_2: #2A2A2A;

$gradient_card: linear-gradient(to right, rgb(15, 15, 56), rgb(8, 11, 91));

$color_purple: rgb(103, 100, 234);
$color_purple_50: rgba(103, 100, 234, 0.5);
$color_purple_25: rgba(103, 100, 234, 0.25);
$color_purple_light: #6E84BD;
$color_blue_light: #3552BB;
$color_blue: #1213B8;

$color_text_black: #000000;
$color_text_white: #FFFFFF;
$color_text_grey: #7e7e7e;
$color_text_grey_light: #b2b2b2;
$color_error: #e63946;
$color_error1: #48b2ff;

$icon_w_h: 40px;

$border_r: 12px;

