@use "./src/styles/variables" as *;
@use "./src/styles/functions" as *;
@use "./src/styles/mixins" as *;

.mainContainer {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
  }
}

.images {
  width: 100%;
  height: 100%;
  min-height: 27rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  overflow: hidden;
}

// Контейнер изображений
.swiper1, .swiper2, .slide {
  width: 100%;
  height: auto;
}

.swiper1 {
  position: relative;
}

.imageMain {
  width: 100%;
  height: 40rem;
  @include bg_params;

  border-radius: $border_r;

  @media (max-width: 1200px) {
    height: 35rem;
  }

  @media (max-width: 768px) {
    height: 25rem;
  }

  @media (max-width: 480px) {
    height: 18rem;
  }
}

.image {
  width: 100%;
  height: 10rem;
  border-radius: $border_r;

  @include bg_params;

  @media (max-width: 480px) {
    height: 7rem;
  }
}

// Контейнер информации

.containerInfo {
  @include flex_col;
  align-items: flex-start;
  gap: 2rem;
}

.title {
  font-size: fluid-size(18, 24);
  color: $color_purple;
}

.boxInfo {
  @include flex_col;
  gap: 8px;

}

.label {
  color: $color_text_grey;
}

.text {
  font-size: fluid-size(14, 20);
}

.comfortBox {
  margin-top: 8px;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.comfortItem {
  font-size: fluid-size(14, 20);
  border-radius: $border_r;
  padding: 12px 16px;
  background-color: $color_bg_2;
}

.conditionsBox {
  font-size: fluid-size(14, 20);
  margin-left: 2rem;
  margin-top: 8px;
  @include flex_col;
  gap: 8px;
}
