@use "./src/styles/variables" as *;
@use "./src/styles/functions" as *;
@use "./src/styles/mixins" as *;

.containerMain {
  width: 100%;
  min-height: 50vh;
  text-align: center;

  @include flex_col;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  h2 {
    font-size: fluid-size(24, 32);
  }

  p {
    color: $color_text_grey;
  }
}

.icon {
  font-size: fluid-size(48, 80);
  color: $color_purple;
}